.btn {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: $main-colors;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  transition: 0.5s all;
  &:hover {
    box-shadow: 0 0 20px white;
    transition: 0.5s all;
  }
  &_main {
    width: 300px;
    height: 50px;
    font-size: 16px;
    margin-top: 67px;
  }
  &_submit {
    width: 100%;
    height: 55px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
  }
  &_mini {
    width: 131px;
    height: 40px;
    font-size: 14px;
    &:hover {
      box-shadow: 0 0 20px rgb(255, 0, 0);
      transition: 0.5s all;
    }
  }  
}
